.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 5rem;
}

.hero-content-container {
  width: 50%;
}
.hero-content h1 {
  margin-bottom: 0.5rem;
}
.hero-content {
  margin-bottom: 4rem;
}

.hero-image-container {
  width: 50%;
  height: 50vh;
  /* background-image: linear-gradient(var(--background-light), var(--background-dark)) ; */
  border-radius: 44% 56% 53% 47% / 42% 46% 54% 58% ;
  position: relative;
  background-color: #7693fc55;
}
.hero-image-container img {
  width: 90%;
  object-fit: cover;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
